<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>curso-jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>filter</filter-name>
  	<filter-class>com.gerenciador.filter.Filter</filter-class>
  </filter>
<!--  
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<servlet-class>com.gerenciador.servlet.HomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>*.resources</url-pattern>
  </servlet-mapping>
-->  
</web-app>